.sign-in-page
  .sign-up-header
    = image_tag '/mercari-sign-up.svg', class: 'mercari-sign-up'
  .sign-in-main
    .sign-in-content
      .sign-in-content__registration
        アカウントをお持ちでない方はこちら
        .sign-in-content__a
          = link_to "/users/signup", class: 'new-user-registration-a' do
            新規会員登録
      %hr
      .sign-in-content__sub
        .sign-in-content__main
          .single-content__facebook
            = image_tag '/flogo-RGB-HEX-Blk-512.png', class: "facebook-img"
            .single-content__two
              Facebookで登録
        .sign-in-content__main
          .single-content__google
            = image_tag '/google.png', class: "google-img"
            .single-content__three
              Googleで登録
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "sign-in-form"}) do |f|
        .field
          / = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: " メールアドレス"
        .field
          / = f.label :password
          %br/
          = f.password_field :password, autocomplete: "current-password", placeholder: " パスワード"
        / - if devise_mapping.rememberable?
        /   .field
        /     = f.check_box :remember_me
        /     = f.label :remember_me
        = recaptcha_tags
        .actions
          = f.submit "ログイン", :class => "submit_button"
      = render "users/shared/links"
  .sign-up-footer
    %ul.sign-up-footer__ul
      =link_to "", class: "sign-up-footer__a" do
        %li.sign-up-footer__li
          プライバシーポリシー
      = link_to "", class: "sign-up-footer__a" do
        %li.sign-up-footer__li
          メルカリ利用規約
      = link_to "", class: "sign-up-footer__a" do
        %li.sign-up-footer__li
          特定商取引に関する表記
    .sign-up-footer__img
      = image_tag "/mercari-sign-up-gray.svg", class: "mercari-sign-up-gray"
    .sign-up-footer__last
      © 2019 Mercari
