.items-box-container
  .item-details
    .item-details__name
      %h1
        = @product.name
    .item-details__main
      .item-details__main__photo
        .item-details__main__photo__top
          = image_tag @product.images.first.image.to_s, class: 'item-details__main__photo__top__image'
        .item-details__main__photo__sub
          - @product.images.each do |image|
            = image_tag image.image.to_s, class: 'item-details__main__photo__sub__image'
      .item-details__main__table
        %table
          %tbody
            %tr
              %th 出品者
              %td
                =link_to "a", user_path
                .item-user-ratings
                  .item-user-ratings__list
                    %i.fas.fa-laugh
                    %span 114
                  .item-user-ratings__list
                    %i.fas.fa-meh
                    %span 3
                  .item-user-ratings__list
                    %i.fas.fa-frown
                    %span 1
            %tr
              %th カテゴリー
              %td
                .category
                  = link_to products_path ,class: "category__magin-bottom" do
                    = @product.category.root.name

                .category
                  = link_to  products_path ,class: "" do
                    .fas.fa-chevron-right
                    = @product.category.parent.name
                .category
                  = link_to products_path,class: "" do
                    .fas.fa-chevron-right
                    = @product.category.name
            %tr
              %th ブランド
              %td= @product.brand
            %tr
              %th 商品のサイズ
              %td= @product.size.size
            %tr
              %th 商品の状態
              %td= @product[:status]
            %tr
              %th 配送料の負担
              %td= @product.delivery_fee_owner.delivery_fee_owner
            %tr
              %th 配送の方法
              %td= @product.shipping_method.shipping_method
            %tr
              %th 配送元地域
              %td
                =link_to @product[:shipping_from]
            %tr
              %th 発送日の目安
              %td= @product.delivery_date.delivery_date
    .item-details__price
      .item-details__price__main= "¥#{@product.price}"
      .item-details__price__tax
        (税込)
      .item-details__price__shipping-fee
        送料込み
    %button.item-details__btn-red
      購入画面に進む
    / ⬆︎current-userだったら表示しない
    .item-details__description
      - if @product.info
        = @product.info
      - else
        商品の説明はありません
    .item-details__button
      .item-details__button__left
        %button
          .far.fa-heart
          いいね！
          １
        %button
          .far.fa-flag
          不適切な商品の報告
      .item-details__button__right
        .fas.fa-lock
        =link_to "あんしん・あんぜんへの取り組み"
    / ⬆︎current-userだったら表示しない


