.default-container
  = render 'products/top-header.html.haml'

  = render 'item-details'
  = render 'item-detail-message'
  = render 'nav-item-link'
  = render partial:'users/social-media-box'
  = render 'items-in-user-profile'

  = render 'products/app-vanner.html.haml'
  = render 'products/top-footer.html.haml'
