.app-vanner
  .app-vanner__image
    .app-vanner__content
      %h2.app-vanner-h
        スマホでかんたんフリマアプリ
      %p.app-vanner-p
        今すぐ無料ダウンロード！
      %ul.app-vanner__content__store
        %li.app-vanner__content__store-li
          = image_tag '/mercari_icon.png', class: 'mercari-icon'
        %li.app-vanner__content__store-li
          = link_to 'https://www.apple.com/jp/ios/app-store/', class: 'pull-left' do
            = image_tag '/app-store.svg'
        %li.app-vanner__content__store-li
          = link_to 'https://play.google.com/store?hl=ja', class: 'pull-left' do
            = image_tag '/google-play.svg'
    = image_tag'/mercari-app.png', class: 'app-vanner__right'
