.picup-container
  %h2.picup-container-header
    ピックアップカテゴリー
  .picup-container__item
    = link_to '', class: 'picup-container__name' do
      レディース新着アイテム
    - @products.each do |product|
      = render partial: "item", locals: { product: product }
    = link_to '', class: 'picup-container__last' do
      すべての商品を見る
  .picup-container__item
    = link_to '', class: 'picup-container__name' do
      レディース新着アイテム
    - @products.each do |product|
      = render partial: "item", locals: { product: product }
    = link_to '', class: 'picup-container__last' do
      すべての商品を見る
