.single-container
  = render 'products/top-header'
  = render 'buys/item-details'
  = render 'sell-item-change-box'
  = render 'buys/item-detail-message'
  = render 'products/app-vanner'
  = render 'products/top-footer'
