.single-container
  = render "sign-up-header"
  .registration-main
    %h2 会員情報入力
    %hr
    .registration-main-form
      = form_for(resource, as: resource_name, url: registration_path(resource_name), ) do |f|
        = devise_error_messages!
        .sign-up-form
          = f.label :ニックネーム
          %span.form-require 必須
          %br/
          = f.email_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: " 例）メルカリ太郎"
        .sign-up-form
          = f.label :メールアドレス
          %span.form-require 必須
          %br/
          = f.text_field :email, autofocus: true, autocomplete: "email", placeholder: " PC・携帯どちらでも可"
        .sign-up-form
          = f.label :パスワード
          %span.form-require 必須
          %br/
          = f.password_field :password, autocomplete: "new-password", placeholder: " 6文字以上"
        .sign-up-form
          = f.label :パスワード（確認）
          %span.form-require 必須
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: " 6文字以上"
        .sign-up-form
          %h3 本人確認
          安心・安全にご利用いただくために、お客さまの
          %br/
          本人情報の登録にご協力ください。他のお客さま
          %br/
          に公開されることはありません。
        .sign-up-form
          = f.fields_for :address, Address.new do |a|
            .field__address
              = a.label :性（全角）
              %span.form-require 必須
              %br/
              = a.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: " 例）山田"
            .sign-up-form__address
              = a.label :名（全角）
              %span.form-require 必須
              %br/
              = a.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: " 例）太郎"
            .sign-up-form__address
              = a.label :性カナ（全角）
              %span.form-require 必須
              %br/
              = a.text_field :first_name_phon, autofocus: true, autocomplete: "first_name_phon", placeholder: " 例）ヤマダ"
            .sign-up-form__address
              = a.label :名カナ（全角）
              %span.form-require 必須
              %br/
              = a.text_field :last_name_phon, autofocus: true, autocomplete: "last_name_phon", placeholder: " 例）タロウ"
        .sign-up-form
          = f.label :生年月日
          %span.form-require 必須
          %br/
          = f.date_select :birth_year, {start_year: 1900, end_year: 2020, use_month_numbers: true}, { class: 'date-select-birthday', date_separator: '%s'}
        .registration-message__two
          ※本人情報を正しく入力してください。会員登録
          %br/
          後、修正するにはお時間を頂く場合があります。
        = recaptcha_tags
        .registration-message__three
          「次へ進む」ボタンを押すことにより、
          = link_to "", class: "term_of-service" do
            利用規約
          に同意したものとみなします
        .actions
          = f.submit "次へ進む"
        .registration-message__fore
          = link_to "", class: "about-private-registration" do
            本人情報の登録について＞
  = render 'products/single-footer'
